# ==================================================
# APP CONFIG
# ==================================================
NODE_ENV=
PORT=
HOST=

# ==================================================
# POSTGRESQL LOCAL DEVELOPMENT
# ==================================================
PG_USER=
PG_HOST=
PG_PASSWORD=
PG_DATABASE=
PG_PORT=

# ==================================================
# POSTGRESQL PRODUCTION
# ==================================================
DATABASE_URL=

# ==================================================
# REDIS LOCAL DEVELOPMENT
# ==================================================
REDIS_HOST=
REDIS_PORT=

# ==================================================
# REDIS PRODUCTION
# ==================================================
REDIS_URL=
REDIS_TOKEN=

# ==================================================
# CLOUDINARY
# ==================================================
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==================================================
# GEMINI AI
# ==================================================
GEMINI_API_KEY=
GEMINI_MODEL=

# ==================================================
# SECURITY
# ==================================================
ADMIN_API_KEY=
DS_URL=